<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>10700B83-6F0B-40F7-BD84-68D89EF9AEAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3262B05-BC8E-4168-B608-7CE99D46621D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36DFD8E5-24BB-40F0-8FFD-314E36817594</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3262B05-BC8E-4168-B608-7CE99D46621D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60CDF901-9B4D-4C02-AC48-62B9860CAC39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BD9AF0E-6457-4A2C-A775-F0DD1D785F36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>649BC865-047B-4822-93D3-489083D11754</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>28DF51E8-6AE3-4D00-8CD1-92823114AA5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4F95C89D-7C6D-4A86-AC5E-C6C0D519D4B0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E234D28D-8BED-4C4E-B798-7EA624EBEF37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>619AA6B4-CE86-46FF-AD07-AAA6B1BE3249</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3262B05-BC8E-4168-B608-7CE99D46621D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6D16E9A-10E1-4187-86E7-99BFFBEE52CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60CDF901-9B4D-4C02-AC48-62B9860CAC39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3262B05-BC8E-4168-B608-7CE99D46621D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6D16E9A-10E1-4187-86E7-99BFFBEE52CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DAFF33FB-5DCA-41A1-887F-FF325E3D8A4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3262B05-BC8E-4168-B608-7CE99D46621D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tomatofu</string>
	<key>description</key>
	<string>Interacts with N₁₀</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>N10</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Start Session","subtitle":"Start an N₁₀ session"},{"title":"View History","arg":"history","subtitle":"Show N₁₀ session history"},{"title":"View Settings","arg":"settings","subtitle":"Show N₁₀ settings"}]</string>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Interact with N₁₀</string>
				<key>title</key>
				<string>N10</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>10700B83-6F0B-40F7-BD84-68D89EF9AEAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
  	tell application "System Events" to tell process "N₁₀"
		keystroke "y" using command down
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6BD9AF0E-6457-4A2C-A775-F0DD1D785F36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>36DFD8E5-24BB-40F0-8FFD-314E36817594</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/N₁₀.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>C3262B05-BC8E-4168-B608-7CE99D46621D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/N₁₀.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>B6D16E9A-10E1-4187-86E7-99BFFBEE52CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
  	tell application "System Events" to tell process "N₁₀"
		keystroke "," using command down
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28DF51E8-6AE3-4D00-8CD1-92823114AA5A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>history</string>
						<key>outputlabel</key>
						<string>View History</string>
						<key>uid</key>
						<string>649BC865-047B-4822-93D3-489083D11754</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>settings</string>
						<key>outputlabel</key>
						<string>View Settings</string>
						<key>uid</key>
						<string>4F95C89D-7C6D-4A86-AC5E-C6C0D519D4B0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>New Session</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>60CDF901-9B4D-4C02-AC48-62B9860CAC39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>history</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>619AA6B4-CE86-46FF-AD07-AAA6B1BE3249</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
  	tell application "System Events" to tell process "N₁₀"
		keystroke "n" using command down
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E234D28D-8BED-4C4E-B798-7EA624EBEF37</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>settings</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DAFF33FB-5DCA-41A1-887F-FF325E3D8A4A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># N10

N10 is a small Alfred workflow that can control the N₁₀ app.

![N10 workflow](N10.png)


## Config

- Keyword: The keyword to activate this workflow.

### Hotkeys

- Hotkeys can be configured inside the workflow itself</string>
	<key>uidata</key>
	<dict>
		<key>10700B83-6F0B-40F7-BD84-68D89EF9AEAB</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>28DF51E8-6AE3-4D00-8CD1-92823114AA5A</key>
		<dict>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>36DFD8E5-24BB-40F0-8FFD-314E36817594</key>
		<dict>
			<key>note</key>
			<string>Starts a new session</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>60CDF901-9B4D-4C02-AC48-62B9860CAC39</key>
		<dict>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>619AA6B4-CE86-46FF-AD07-AAA6B1BE3249</key>
		<dict>
			<key>note</key>
			<string>Shows history</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>6BD9AF0E-6457-4A2C-A775-F0DD1D785F36</key>
		<dict>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>B6D16E9A-10E1-4187-86E7-99BFFBEE52CE</key>
		<dict>
			<key>note</key>
			<string>Confirms that the application is focused</string>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>C3262B05-BC8E-4168-B608-7CE99D46621D</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>DAFF33FB-5DCA-41A1-887F-FF325E3D8A4A</key>
		<dict>
			<key>note</key>
			<string>Shows history</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>E234D28D-8BED-4C4E-B798-7EA624EBEF37</key>
		<dict>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>n10</string>
				<key>placeholder</key>
				<string>n10</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The keyword used to activate this workflow.</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
